<div class="container">
	<div class="row">
		<div class="span12">
			<h1>Как это работает</h1> 
			<p>Небольшое объяснение что к чему</p>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<h1>Пассажирам</h1> 
			<p>blablabla</p>
			<h1><button type="button" class="btn btn-warning">Найти попутку</button><h1>
		</div>
		<div class="span6">
			<h1>Водителям</h1> 
			<p>blablabla</p>
			<h1><button type="button" class="btn btn-warning">Найти пассажира</button><h1>
		</div>
	</div>

</div>

