<% provide(:title, @user.name) %>
<% provide(:active_page, "mypage") %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
    	<%= image_tag(@user.avatar.url(:medium)) if @user.avatar? %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
